<template>
  <div class="home">
    <div class="toptar">
      <div class="logo">Management System</div>
      <div class="user">
        <!-- 用户名 -->
        <div class="username">
          {{ UserInfo ? UserInfo.user_name : "" }}
        </div>
        <!-- 退出登录按钮 -->
        <div class="logout">
          <a-icon type="logout" @click="logout" />
        </div>
      </div>
    </div>
    <div class="content">
      <Content />
    </div>
  </div>
</template>

<script>
import { User } from "@apis/index";
import Content from "./Content.vue";

import { createNamespacedHelpers } from "vuex";
const { mapState } = createNamespacedHelpers("System");

export default {
  name: "Home",
  components: {
    Content
  },
  data() {
    return {
      user_head: "@src/assets/logo.png",
    };
  },
  computed: {
    ...mapState({
      UserInfo: (state) => state.UserInfo,
    }),
  },
  methods: {
    // 退出登录
    logout() {
      User.logout().then((res) => {
        if (res.data.success) {
          this.$message.success(res.data.message);
          this.$router.push({ name: "Login" });
        } else {
          this.$message.error(res.data.message);
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .toptar {
    width: 100%;
    flex: 0 0 60px;
    background: #001529;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 28px;
      font-weight: bold;
      color: #eee;
      letter-spacing: 1px;
    }

    .user {
      display: flex;
      align-items: center;
    }
    
    .username {
      color: #eee;
    }

    .logout {
      color: #eee;
      margin-left: 15px;
    }
  }

  .content {
    padding: 30px 50px;
  }
}
</style>
