<template>
  <div class="contact-us">
    <img class="image-style" src="../../static/images/lastest2.jpg" />
    <div class="container">
      <div class="content-contact-us">
        <div class="row">
          <div class="col-md-6">
            <h1>Contact Us</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-inline">
                  <li><p>天津</p></li>
                  <li>E-POCKRT 天津科技大学</li>
                  <li>Email: kathryn-92@example.com Phone: (849) 490 4283</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-inline">
                  <li><p>口袋网</p></li>
                  <li>随拿随放，给买卖双方提供二手交易平台 Barselona 23765</li>
                  <li>Email: steven82@example.com Phone: (527) 376 6381</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-inline">
                  <li><p>Barcelona</p></li>
                  <li>
                    突破传统跳蚤市场的限制 线上线下相结合，为大学生提供购物便利
                  </li>
                  <li>Email: steven82@example.com Phone: (527) 376 6381</li>
                  <li>Email: steven82@example.com Phone: (527) 376 6381</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <h2>你的想法</h2>
            <form action="#" method="post">
              <textarea placeholder="Message"></textarea>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Your Name" />
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Your Mail" />
                </div>
              </div>
              <button type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Contact",
};
</script>

<style>
.contact-us {
  width: 100%;
}
.contact-us .image-style {
  float: left;
  margin-right: 200px;
  margin-left: 50px;
}
.contact-us .content-contact-us {
  margin: 100px 0 80px 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e6e6e6;
}
.contact-us .content-contact-us h1 {
  font-size: 60px;
  font-family: "El Messiri", sans-serif;
  line-height: 1;
  position: relative;
  margin-bottom: 50px;
}
.contact-us .content-contact-us h1:before {
  content: " ";
  position: absolute;
  height: 13px;
  width: 110px;
  display: block;
  left: 0;
  bottom: -10px;
  background: #ffa6a8;
}
.contact-us .content-contact-us ul {
  margin-bottom: 70px;
}
.contact-us .content-contact-us ul p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.contact-us .content-contact-us ul li {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.contact-us .content-contact-us i:hover {
  text-decoration: none;
  color: #ffa6a8;
}
.contact-us .content-contact-us textarea {
  width: 100%;
  height: 150px;
  padding-top: 15px;
  text-indent: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
.contact-us .content-contact-us input {
  text-indent: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}
.contact-us .content-contact-us input:focus,
.contact-us .content-contact-us textarea:focus {
  outline: none;
}
.contact-us .content-contact-us button {
  background: #333333;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
}
.contact-us .content-contact-us button:hover {
  background: #ffa6a8;
}

@media all and (max-width: 767px) {
  /*  .contact-us .iframe-responsive {
    padding-top: 50% !important; } */
  .contact-us .content-contact-us {
    margin-top: 50px !important;
  }
  .contact-us .content-contact-us form {
    margin-top: 50px;
  }
}
</style>
