<template>
  <div>
    <div class="container-fluid">
      <div class="row deal-day">
        <div class="content-deal-day">
          <div class="title">
            <h2>deal of the day</h2>
          </div>
          <ul class="list-inline" id="dealday">
            <li>
              <h2 id="dealdays">05</h2>
              <p>Days</p>
            </li>
            <li>
              <h2 id="dealhours">12</h2>

              <p>Hours</p>
            </li>
            <li>
              <h2 id="dealminutes">47</h2>
              <p>Mins</p>
            </li>
            <li>
              <h2 id="dealseconds">41</h2>
              <p>Secs</p>
            </li>
          </ul>
          <button class="btn btn-lg">SHOP NOW</button>
        </div>
      </div>
    </div>
    <!-- 特价商品 -->
    <div class="goods">
      <!-- <h1>精品推荐</h1> -->
      <ul>
        <li v-for="(item, goods_i) in goods" :key="goods_i" class="goods_li">
          <router-link :to="{ path: '/goods', query: { name: item.name } }">
            <img class="good-img" :src="item.cover" alt="" />
            <h4>{{ item.text }}</h4>
            <div class="detail">
              <span>原价：</span><span class="price">{{ item.price }}</span>
              <span>口袋价：</span
              ><span class="onlinePrice">{{ item.onlinePrice }}</span>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
    <!--code banner-->
    <div class="container">
      <div class="row banner">
        <div class="banner-right">
          <h2>one day</h2>
          <h3>
            10
            <small>%</small>
            discount
          </h3>
          <button class="btn">05/02 - 20/10/2019</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import data from "../config/config.js";
export default {
  name: "Discount",
  data() {
    return {
      goods: data.goods,
    };
  },
};
</script>

<style>
.deal-day {
  background-image: url(../../static/images/decorates/discount-01.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-deal-day {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.content-deal-day h2 {
  font-size: 60px;
  font-family: "El Messiri", sans-serif;
  text-transform: capitalize;
  margin-top: 140px;
}
.content-deal-day .title h2 {
  color: #d58e8f;
  margin-bottom: 50px;
}
.content-deal-day .title h2:before {
  content: " ";
  position: absolute;
  height: 13px;
  width: 150px;
  display: block;
  bottom: -10px;
  left: 50%;
  margin-left: -75px;
  background: white;
}
.content-deal-day ul {
  margin-bottom: 80px;
}
.content-deal-day ul li {
  background: white;
  border-top: 12px solid #8ce6ff;
  display: inline-block;
  margin-right: 65px;
  text-align: center;
  width: 120px;
  position: relative;
  border-bottom-left-radius: 18px;
}
.content-deal-day ul li h2 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
}
.content-deal-day ul li p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  margin-bottom: 20px !important;
  padding: 0;
}
.content-deal-day button {
  margin-bottom: 100px;
  border-radius: 0;
  background: white;
  font-size: 15px;
  position: relative;
  color: #333333;
  font-family: "Raleway", sans-serif;
  border: none;
  font-weight: 600;
  padding: 10px 30px;
  z-index: 2;
}
.content-deal-day button:before {
  content: "";
  width: 0;
  height: 100%;
  font-size: 15px;
  background: #333333;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.content-deal-day button:hover:before {
  width: 100%;
}
.content-deal-day button:hover {
  color: white;
}
.content-deal-day ul li:before {
  content: " ";
  height: 12px;
  background: #f2f2f2;
  width: 100%;
  z-index: 300;
  position: absolute;
  bottom: 0;
  right: -15px;
  display: block;
  border-radius: 0 0 15px 0;
  transform: skewX(-10deg);
}

.content-deal-day ul li:after {
  content: " ";
  height: 20px;
  width: 25px;
  bottom: 0.5px;
  background: white;
  position: absolute;
  border-radius: 26px 3px 30px 10px;
  left: 9.5px;
  z-index: 301;
}
.content-deal-day h2 {
  font-size: 60px;
  line-height: 1;
  margin-top: 60px;
  border: #0000ff 1px solid;
}
/* 特价商品 */
.goods {
  width: 95%;
  height: 50rem;
  margin: auto;
  background: #fff;
  /* border:1px red solid; */
  margin-top: 5rem;
}

.goods .goods_li {
  /* float: left; */
  display: inline-block;
  width: 20%;
  border: #0000ff 1px solid;
  margin: 1.25rem;
}

.goods_li:first-child {
  margin-left: 1.5rem;
}

.goods .goods_li img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.goods .goods_li:last-child img {
  width: 100%;
}

.goods .goods_li h4 {
  width: 84%;
  line-height: 30px;
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.goods .goods_li .detail {
  width: 84%;
  line-height: 30px;
  color: #888;
  font-size: 12px;
  text-align: center;
}

.goods .goods_li .price {
  text-decoration: line-through;
}

.goods .goods_li .onlinePrice {
  color: #ffaa00;
  font-size: 16px;
}
/* code */
.banner {
  background-image: url(../../static/images/decorates/discount-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -20px;
  margin-bottom: 70px;
  margin-top: 30px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.banner .banner-right {
  border: 1px solid red;
  padding-left: 800px;
  padding-top: 100px;
}
.banner .banner-right h2 {
  font-family: "El Messiri", sans-serif;
  font-size: 40px;
  z-index: 105;
  /* border: 1px solid red; */
  text-transform: uppercase;
  position: relative;
}
.banner .banner-right h3 {
  font-family: "El Messiri", sans-serif;
  font-size: 53px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.banner .banner-right button {
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  padding: 15px 20px;
  margin-bottom: 80px;
  border: 1px solid black;
  line-height: 1;
  border-radius: 0;
  position: relative;
  z-index: 2;
}
.banner .banner-right button:before {
  content: "";
  width: 0;
  height: 100%;
  font-size: 15px;
  background: #333333;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.banner .banner-right button:hover:before {
  width: 100%;
}
.banner .banner-right button:hover {
  color: white;
}
</style>
