<template>
  <!--footer-->
  <div class="footer">
    <div class="content">
      <img class="footer-image" src="../../static/images/logo.jpg" />
      <h1>口袋网</h1>
      <ul class="content-line">
        <li>联系邮箱:3793281039@163.com</li>
        <li>联系地址:天津科技大学</li>
        <li>联系电话:0556-2344284</li>
        <li>查看更多扫描右侧二维码</li>
      </ul>
      <img
        class="footer-image1"
        src="../../static/images/decorates/footer-01.jpg"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
.footer {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  background-color: #000000;
}
.footer-image {
  height: 50px;
  opacity: 0.6;
}
.footer-image1 {
  float: right;
  height: 80px;
}
.content {
  padding: 40px;
}
.content h1 {
  color: white;
  float: left;
  margin-top: 0px;
  letter-spacing: 30px;
}
.content-line li {
  float: left;
  color: white;
  margin: 60px 10px 10px 10px;
}
</style>
