<template>
  <div>
    <!-- 选择 -->
    <div class="select">
      <div class="tit-school">学校</div>
      <el-select v-model="region" placeholder="请选择" @change="changeRegion">
        <el-option label="全部" value=""></el-option>
        <el-option label="天津科技大学" value="天津科技大学"></el-option>
        <el-option label="天津大学" value="天津大学"></el-option>
      </el-select>
    </div>
    <!-- 类目选择 -->
    <div class="check">
      <h1>类目</h1>
      <el-radio-group v-model="category" @change="ChangeCategory">
        <el-radio class="checkline" label="宿舍神器">宿舍神器</el-radio>
        <el-radio class="checkline" label="二手书籍">二手书籍</el-radio>
        <el-radio class="checkline" label="电子产品">电子产品</el-radio>
        <el-radio class="checkline" label="学习用品">学习用品</el-radio>
        <el-radio class="checkline" label="其他好物">其他好物</el-radio>
      </el-radio-group>
    </div>
    <!-- 商品栏 -->
    <div class="goods">
      <!-- <h1>精品推荐</h1> -->
      <ul>
        <li v-for="(item, goods_i) in goods" :key="goods_i" class="goods_li">
          <router-link :to="{ path: '/goods', query: { name: item.name } }">
            <img
              class="good-img"
              :src="item.files.length ? item.files[0].base64 : ''"
              :alt="item.files.length ? item.files[0].name : '暂无图片'"
            />
            <h4>{{ item.name }}</h4>
            <div class="detail">
              <span>原价：</span><span class="price">{{ item.original }}</span>
              <span>口袋价：</span
              ><span class="onlinePrice">{{ item.current }}</span>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { Good } from "@/apis/index";
// import data from "../config/config.js";
export default {
  name: "Goodlist",
  data() {
    return {
      goods: [],
      currentDate: new Date(),
      radio: "1",
      category: '宿舍神器',
      region: '',
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    changeRegion() {
      this.fetch();
    },
    fetch() {
      Good.getGoods({
        category: this.category,
        region: this.region,
      }).then((res) => {
        let data = res.data.data;
        this.goods = data;
      });
    },
    ChangeCategory() {
      Good.getGoods({
        category: this.category,
      }).then((res) => {
        let data = res.data.data;
        this.goods = data;
      });
    },
  },
};
</script>

<style>
.main-img {
  width: 160px;
  height: 120px;
}

.goods {
  width: 95%;
  height: 72rem;
  margin: auto;
  background: #ffffff;
  border: 1px red solid;
}

.goods .goods_li {
  float: left;
  width: 20%;
  border: #0000ff 1px solid;
  margin: 1.25rem;
}

.goods_li:first-child {
  margin-left: 1.5rem;
}
.goods .goods_li img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.goods .goods_li:last-child img {
  width: 100%;
}

.goods .goods_li h4 {
  width: 84%;
  line-height: 30px;
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.goods .goods_li .detail {
  width: 84%;
  line-height: 30px;
  color: #888;
  font-size: 12px;
  text-align: center;
}

.goods .goods_li .price {
  text-decoration: line-through;
}

.goods .goods_li .onlinePrice {
  color: #ffaa00;
  font-size: 16px;
}
/* 类目选择 */
.check {
  float: left;
  height: 20rem;
  width: 6.25rem;
  margin: 1rem 3.125rem 0 5rem;
  padding: 0 2.5rem 2.5rem 2.5rem;
  border: 0.0625rem solid #f2f2f2;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.check h1 {
  color: #706b6a;
  font-family: "arial narrow";
  font-size: large;
  text-align: center;
}
.checkline {
  margin-top: 1.875rem;
}
/* 选择 */
.select {
  border: 0.0625rem solid #adadad;
  height: 5rem;
  padding-top: 3rem;
}
.select .tit-school {
  color: #706b6a;
  font-family: "arial narrow";
  font-size: large;
  float: left;
  font-weight: 800;
  margin-right: 0.5rem;
  margin-left: 5rem;
  letter-spacing: 0.2rem;
}
.select .el-input__inner {
  width: 10rem;
  height: 2rem;
}
/* 主图 */
.good-img {
  width: 100%;
  height: 16rem;
  border: 1px solid red;
}
.main-img {
  width: 100%;
  height: 20rem;
}
</style>
