<template>
  <div class="index_wrap">
    <!-- 轮播图 -->
    <div>
      <el-carousel height="450px" indicator-position="outside">
        <el-carousel-item v-for="(item, index) in images" :key="index">
          <el-image
            style="width: 100%; height: 100%"
            :src="item.idView"
            fit="fit"
          >
          </el-image>
        </el-carousel-item>
      </el-carousel>
    </div>

    <!-- 特价商品 -->
    <div class="goods">
      <h1>精品推荐</h1>
      <ul>
        <li v-for="(item, goods_i) in goods" :key="goods_i" class="goods_li">
          <router-link :to="{ path: '/goods', query: { name: item.name } }">
            <img class="good-img" :src="item.cover" alt="" />
            <h4>{{ item.text }}</h4>
            <div class="detail">
              <span>原价：</span><span class="price">{{ item.price }}</span>
              <span>口袋价：</span
              ><span class="onlinePrice">{{ item.onlinePrice }}</span>
            </div>
          </router-link>
        </li>
      </ul>
    </div>

    <!-- 网站公告 -->
    <el-row class="wgoods">
      <h1>网站公告</h1>
      <el-col
        :span="8"
        v-for="(item, index) in announcements"
        :key="index"
        :offset="index > 0 ? 4 : 0"
      >
        <router-link :to="{ path: '/Topic', query: { name: item.name } }">
          <el-card :body-style="{ padding: '0px' }">
            <img :src="item.cover" class="image" />
            <div style="padding: 14px">
              <h2>{{ item.title }}</h2>
              <div class="bottom clearfix">
                <time class="time">{{ currentDate }}</time>
                <el-button type="text" class="button">查看详情</el-button>
              </div>
            </div>
          </el-card>
        </router-link>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import data from "../config/config.js";
export default {
  name: "Index",
  data() {
    return {
      // navbars: data.navbars,
      goods: data.goods,
      currentDate: new Date(),
      announcements: data.announcements,
      images: [
        { id: 0, idView: require("../../static/images/slide01.jpg") },
        { id: 1, idView: require("../../static/images/slide02.jpg") },
        { id: 2, idView: require("../../static/images/slide03.jpg") },
        { id: 3, idView: require("../../static/images/slide04.jpg") },
        { id: 4, idView: require("../../static/images/slide05.jpg") },
      ],
    };
  },
  computed: {
    sliderimg() {
      return this.goods.map((item) => item.poster);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bigmain {
  float: left;
  width: 800px;
  height: 500px;
}
.index_wrap {
  width: 100%;
  height: auto;
}

.index_wrap .index {
  width: 80%;
  height: 500px;
  margin: auto;
}

.index .left {
  float: left;
  width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.index .left .leftli {
  width: 100%;
  line-height: 45px;
  text-indent: 10px;
  text-align: left;
}

.index .left .leftli:hover {
  background: #fff;
}

.index .left .text {
  margin-left: 10px;
}

/* 特价商品 */
.goods {
  width: 95%;
  height: 48rem;
  margin: auto;
  background: #fff;
  border: 1px red solid;
  margin-top: 5rem;
}

.goods .goods_li {
  /* float: left; */
  display: inline-block;
  width: 20%;
  border: #0000ff 1px solid;
  margin: 1.25rem;
}

.goods_li:first-child {
  margin-left: 1.5rem;
}
.goods .goods_li img {
  display: block;
  width: 100%;
  overflow: hidden;
}

.goods .goods_li:last-child img {
  width: 100%;
}

.goods .goods_li h4 {
  width: 84%;
  line-height: 30px;
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.goods .goods_li .detail {
  width: 84%;
  line-height: 30px;
  color: #888;
  font-size: 12px;
  text-align: center;
}

.goods .goods_li .price {
  text-decoration: line-through;
}

.goods .goods_li .onlinePrice {
  color: #ffaa00;
  font-size: 16px;
}
/* 轮播图 */

.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
/* 公告 */
.wgoods {
  width: 95%;
  height: 50rem;
  margin: auto;
  background: #fff;
  border: 1px red solid;
  margin-top: 5rem;
}
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  height: 180px;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
.el-col {
  width: 300px;
  height: 300px;
  margin: 30px;
  /* border:1px red solid; */
}
.el-col:first-child {
  margin-left: 100px;
}
</style>
