<template>
  <div class="main-bg" id="mian">
    <!-- title -->
    <h1>登录注册</h1>
    <!-- //title -->
    <div class="sub-main-w3">
      <div class="image-style"></div>
      <!-- vertical tabs -->
      <div class="vertical-tab">
        <div id="section1" class="section-w3ls">
          <input type="radio" name="sections" id="option1" checked />
          <label for="option1" class="icon-left-w3pvt"
            ><span class="fa fa-user-circle" aria-hidden="true"></span
            >登录</label
          >
          <article>
            <div class="form">
              <h3 class="legend">账号登录</h3>
              <div class="input">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                <input
                  type="text"
                  v-model="logindata.username"
                  placeholder="账号"
                  name="username"
                  required
                />
              </div>
              <div class="input">
                <span class="fa fa-key" aria-hidden="true"></span>
                <input
                  type="password"
                  v-model="logindata.password"
                  placeholder="密码"
                  name="password"
                  required
                />
              </div>
              <button type="submit" class="btn submit" @click="login">
                登 录
              </button>
              <a href="#" class="bottom-text-w3ls">忘记密码?</a>
            </div>
          </article>
        </div>
        <div id="section2" class="section-w3ls">
          <input type="radio" name="sections" id="option2" />
          <label for="option2" class="icon-left-w3pvt"
            ><span class="fa fa-pencil-square" aria-hidden="true"></span
            >注册</label
          >
          <article>
            <div class="form">
              <h3 class="legend">注册帐户</h3>
              <div class="input">
                <span class="fa fa-user-o" aria-hidden="true"></span>
                <input
                  type="text"
                  v-model="registerdata.name"
                  placeholder="用户名"
                  name="name"
                  required
                />
              </div>
              <div class="input">
                <span class="fa fa-key" aria-hidden="true"></span>
                <input
                  type="password"
                  v-model="registerdata.password"
                  placeholder="密码"
                  name="password"
                  required
                />
              </div>
              <div class="input">
                <span class="fa fa-key" aria-hidden="true"></span>
                <input
                  type="password"
                  v-model="registerdata.confirmPassword"
                  placeholder="确认密码"
                  name="confirmPassword"
                  required
                />
              </div>
              <button class="btn submit" @click="register">注 册</button>
            </div>
          </article>
        </div>
        <div id="section3" class="section-w3ls">
          <input type="radio" name="sections" id="option3" />
          <label for="option3" class="icon-left-w3pvt"
            ><span class="fa fa-lock" aria-hidden="true"></span>忘记密码?</label
          >
          <article>
            <div class="form">
              <h3 class="legend last">重置密码</h3>
              <p class="para-style">
                请在下面输入您的电子邮件地址，我们将给您发送一封带有说明的电子邮件。
              </p>
              <p class="para-style-2">
                <strong>需要帮助?</strong>了解更多关于如何 <a href="#">#</a>
              </p>
              <div class="input">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
                <input
                  type="text"
                  v-model="forgetdata.username"
                  placeholder="账号"
                  name="username"
                  required
                />
              </div>
              <button type="submit" class="btn submit last-btn">提交</button>
            </div>
          </article>
        </div>
      </div>
      <!-- //vertical tabs -->
      <div class="clear"></div>
    </div>
    <!-- copyright -->
    <div class="copyright">
      <h2>
        Copyright &copy; 2019 - {{ nowYear }} 版权所有| by
        <a href="#">ChanKwongwing</a>
      </h2>
    </div>
    <!-- //copyright -->
  </div>
</template>

<script>
import { User } from "@apis/index";
import { createNamespacedHelpers } from "vuex";
const { mapMutations } = createNamespacedHelpers("System");
export default {
  name: "Login",
  data() {
    return {
      nowYear: new Date().getFullYear(),
      logindata: {
        username: "",
        password: "",
      },
      registerdata: {
        name: "",
        password: "",
        confirmPassword: "",
      },
      forgetdata: {
        username: "admin",
      },
    };
  },
  methods: {
    ...mapMutations(["UserInfoChange"]),
    // 登录按钮
    login() {
      if (this.logindata.username && this.logindata.password) {
        User.login({
          username: this.logindata.username,
          password: this.logindata.password,
        }).then((res) => {
          if (res.data.success) {
            this.$message({
              message: "登录成功",
              type: "success",
            });
            this.UserInfoChange(res.data.user);
            this.$router.go(-1);
          } else {
            this.$message.error(res.data.message);
          }
        });
      } else {
        this.$message({
          message: "请填写账号密码",
          type: "warning",
        });
      }
    },
    // 注册
    register() {
      if (
        !this.registerdata.name ||
        !this.registerdata.password ||
        !this.registerdata.confirmPassword
      ) {
        this.$message({
          message: "请填写账号、密码、确认密码",
          type: "warning",
        });
      } else if (
        this.registerdata.password != this.registerdata.confirmPassword
      ) {
        this.$message({
          message: "密码和确认密码不一致",
          type: "warning",
        });
      } else {
        User.register({
          username: this.registerdata.name,
          password: this.registerdata.password,
        }).then((res) => {
          if (res.data.success) {
            this.$message({
              message: "注册成功",
              type: "success",
            });
            this.UserInfoChange(res.data.user);
            this.$router.go(-1);
          } else {
            this.$message.error(res.data.message);
          }
        });
      }
    },
  },
};
</script>

<style>
.main-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 100vh;
  background-color: #262626;
}
/* form style */
.sub-main-w3 .form {
  background: #ffff;
  padding: 2em;
}

.legend {
  color: #000;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1.2em;
  font-weight: 400;
}

.input {
  margin-bottom: 1em;
  padding: 13px 15px;
  border: 1px solid #eee;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input span {
  font-size: 15px;
  color: #464646;
  margin-right: 10px;
}

.input input {
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.submit {
  margin: 2.3em auto 0;
  background: #00ad45;
  border: none;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  display: block;
  color: #fff;
  padding: 14px 30px;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
}

.submit:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

/* //form style */

.vertical-tab input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.vertical-tab .section-w3ls {
  display: block;
}

.image-style {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 371px;
  float: left;
  width: 25%;
}

h1 {
  font-size: 3vw;
  color: #fff;
  text-align: center;
  padding: 2.5vw 1vw 1vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}
.vertical-tab .section-w3ls label {
  background: #fff;
  border-right: 1px solid #dcdcdc;
  cursor: pointer;
  display: block;
  font-size: 17px;
  padding: 33px 20px;
  position: relative;
  width: 189px;
  z-index: 100;
  color: #111;
  text-align: center;
}

.vertical-tab .section-w3ls article {
  display: none;
  left: 230px;
  min-width: 570px;
  position: absolute;
  top: 0;
}

.vertical-tab input[name="sections"]:checked + label {
  background: #00ad45;
  border-right: 1px solid #000;
  color: #fff;
}

.vertical-tab input[name="sections"]:checked ~ article {
  display: block;
}

/* Position Absolute */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
  vertical-align: top;
}

.vertical-tab {
  color: #333;
  display: block;
  margin: auto;
  position: relative;
  float: left;
  /* width: 70%; */
}

label.icon-left-w3pvt span {
  display: block;
  font-size: 30px;
  margin-bottom: 7.8px;
}

p.para-style {
  margin-bottom: 0.8em;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

p.para-style-2 {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.8;
  margin-bottom: 2em;
}

p.para-style-2 a {
  color: blue;
}
a.bottom-text-w3ls {
  color: #757474;
  font-size: 14px;
  display: inherit;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 3.2em;
}

.copyright {
  margin-top: 9vw;
  padding-bottom: 1.5vw;
}

.copyright h2 {
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.8;
}

.copyright h2 a {
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.copyright h2 a:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
</style>
