<template>
  <div class="content">
    <el-table
      :data="tableData"
      style="width: 100%"
      :border="true"
      :stripe="true"
    >
      <el-table-column prop="name" label="名称"> </el-table-column>
      <el-table-column prop="region" label="所处学校"> </el-table-column>
      <el-table-column label="类别">
        <template slot-scope="scope">
          <span>{{ scope.row.category.join(" , ") }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="original" label="原价"> </el-table-column>
      <el-table-column prop="current" label="现价"> </el-table-column>
      <el-table-column label="快递方式">
        <template slot-scope="scope">
          <span>{{ scope.row.delivery ? "包邮" : "不包邮" }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="desc" label="描述"> </el-table-column>
      <el-table-column fixed="right" label="操作" width="50">
        <template slot-scope="scope">
          <el-button
            @click="handleDelete(scope.row._id)"
            type="text"
            size="small"
            >删除</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { Good } from "@/apis/index";
export default {
  data() {
    return {
      tableData: [],
    };
  },
  created() {
    this.fetch();
  },
  methods: {
    handleDelete(_id) {
      Good.deleteMyGood({
        id: _id,
      }).then((result) => {
        let res = result.data;
        if (res.success) {
          this.$message.success(res.message);
          this.fetch();
        } else {
          this.$message.error(res.message);
        }
      });
    },
    fetch() {
      Good.getMyGoods().then((result) => {
        let res = result.data;
        if (res.success) {
          this.tableData = res.data;
        } else if (res.code == 400) {
          this.$message.error(res.message);
          this.$router.push({ name: "Login" });
        } else {
          this.$message.error(res.message);
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.content {
  padding: 40px;
  background-color: #f2f2f2;
}
</style>