<template>
  <div>
    <img width="100%" src="../../static/images/decorates/publish-01.png" />
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="100px"
      class="demo-ruleForm"
    >
      <el-form-item label="好物名称" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="所处学校" prop="region">
        <el-select v-model="ruleForm.region" placeholder="请选择你的学校">
          <el-option label="天津科技大学" value="天津科技大学"></el-option>
          <el-option label="天津大学" value="天津大学"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="线上包邮" prop="delivery">
        <el-switch v-model="ruleForm.delivery"></el-switch>
      </el-form-item>
      <el-form-item label="原价" prop="original">
        <el-input v-model="ruleForm.original"></el-input>
      </el-form-item>
      <el-form-item label="现价" prop="current">
        <el-input v-model="ruleForm.current"></el-input>
      </el-form-item>
      <el-form-item label="好物类别" prop="type">
        <el-checkbox-group v-model="ruleForm.type">
          <el-checkbox label="宿舍神器" name="type"></el-checkbox>
          <el-checkbox label="二手书籍" name="type"></el-checkbox>
          <el-checkbox label="电子产品" name="type"></el-checkbox>
          <el-checkbox label="其他" name="type"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="卖主有话说" prop="desc">
        <el-input type="textarea" v-model="ruleForm.desc"></el-input>
      </el-form-item>
      <!-- 上传图片 -->
      <el-upload
        action
        :auto-upload="false"
        list-type="picture-card"
        :on-preview="handlePictureCardPreview"
        :on-remove="handleRemove"
        :on-change="handleUpload"
        :on-success="handleSuccess"
        ref="upload"
      >
        <i class="el-icon-plus"></i>
      </el-upload>
      <el-dialog :visible.sync="ruleForm.dialogVisible">
        <img width="100%" :src="ruleForm.dialogImageUrl" alt="" />
      </el-dialog>

      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >立即创建</el-button
        >
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { Good } from "@/apis/index";
export default {
  name: "Publish",
  data() {
    return {
      ruleForm: {
        name: "",
        region: "",
        delivery: false,
        type: [],
        desc: "",
        dialogImageUrl: "",
        dialogVisible: false,
        files: [],
        original: null,
        current: null,
      },
      rules: {
        name: [
          { required: true, message: "请输入活动名称", trigger: "blur" },
          { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" },
        ],
        region: [
          { required: true, message: "请选择活动区域", trigger: "change" },
        ],
        type: [
          {
            type: "array",
            required: true,
            message: "请至少选择一个活动性质",
            trigger: "change",
          },
        ],
        desc: [{ required: true, message: "请填写活动形式", trigger: "blur" }],
      },
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          console.log(this.ruleForm);
          const _t = this;
          Good.addGoods({
            name: _t.ruleForm.name,
            region: _t.ruleForm.region,
            category: _t.ruleForm.type,
            files: _t.ruleForm.files,
            original: _t.ruleForm.original,
            current: _t.ruleForm.current,
            delivery: _t.ruleForm.delivery,
            desc: _t.ruleForm.desc,
          }).then((result) => {
            let res = result.data;
            if (res.success) {
              _t.$message.success(res.message);
              _t.resetForm("ruleForm");
            } else if (res.code == 400) {
              _t.$message.error(res.message);
              _t.$router.push({ name: "Login" });
            } else {
              _t.$message.error(res.message);
            }
          });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
      this.ruleForm.files = [];
      this.ruleForm.dialogImageUrl = "";
      this.ruleForm.dialogVisible = false;
      this.$refs.upload.clearFiles();
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
      const _t = this;
      this.ruleForm.files = [];
      for (let i = 0; i < fileList.length; i++) {
        let fileInfo = {
          id: fileList[i].uid,
        };
        let fileReader = new FileReader();
        fileReader.readAsDataURL(fileList[i].raw);
        fileReader.onload = () => {
          fileInfo.base64 = fileReader.result;
          fileInfo.name = fileList[i].name;
          _t.ruleForm.files.push(fileInfo);
        };
      }
    },
    handlePictureCardPreview(file) {
      this.ruleForm.dialogImageUrl = file.url;
      this.ruleForm.dialogVisible = true;
    },
    handleSuccess(response, file) {
      const _t = this;
      let fileInfo = {
        id: response.id,
      };
      const fileReader = new FileReader();
      fileReader.readAsDataURL(file.raw);
      fileReader.onload = () => {
        fileInfo.base64 = fileReader.result;
        fileInfo.name = file.name;
        _t.ruleForm.files.push(fileInfo);
      };
    },
    handleUpload(file, fileList) {
      console.log(file, fileList);
      const _t = this;
      this.ruleForm.files = [];
      for (let i = 0; i < fileList.length; i++) {
        let fileInfo = {
          id: fileList[i].uid,
        };
        let fileReader = new FileReader();
        fileReader.readAsDataURL(fileList[i].raw);
        fileReader.onload = () => {
          fileInfo.base64 = fileReader.result;
          fileInfo.name = fileList[i].name;
          _t.ruleForm.files.push(fileInfo);
        };
      }
    },
  },
};
</script>

<style>
</style>
