<template>
  <div class="maincontent">
    <h1>
      {{ thedata.title }}
    </h1>
    <div class="subhead">
      <span>原创</span>
      <span>{{ thedata.time }}</span>
    </div>
    <img :src="thedata.cover" />
    <div class="text">
      {{ thedata.detail }}
    </div>
  </div>
</template>

<script>
import data from "../config/config.js";
export default {
  name: "Topic",
  data() {
    return {};
  },
  computed: {
    thedata() {
      return data.announcements.find(
        (item) => item.name === this.$route.query.name
      );
    },
    result() {
      return {
        title: this.thedata.title,
        detail: this.thedata.detail,
        cover: this.thedata.cover,
      };
    },
  },
};
</script>

<style>
.maincontent {
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: #efefef;
  padding: 50px 0px 50px 0px;
}
.maincontent .subhead {
  margin: 30px 0 0 0;
  font-size: 16px;
  color: #7c7e83;
  letter-spacing: 5px;
}
.maincontent img {
  width: 100%;
  margin: 40px 0 40px 0;
}
.maincontent .text {
  font-size: medium;
  text-indent: 2em;
  word-wrap: break-word;
  line-height: 2.1;
  margin: 0 30px 0 30px;
}
</style>
