@charset "UTF-8";
*{margin:0;padding:0;}

html{height:100%;}
body{font:12px Microsoft YaHei;}

a{text-decoration:none;}
img{border:none;}
.clearfix:after{content:"";display:block;clear:both;}
ul{list-style:none;}
