<template>
  <div id="app">
    <!-- 头部 -->
    <div class="header">
      <div class="h_con">
        <div class="con_left">
          <span>校园二手商城，发现更多好玩好物</span>
          <span>消息<i>0</i></span>
        </div>
        <div class="con_right">
          <span v-if="UserInfo.user_name">{{
            UserInfo ? UserInfo.user_name : ""
          }}</span>
          <span v-if="UserInfo.user_name" class="logout" @click="logout"
            >登出</span
          >
          <router-link :to="{ path: '/order' }"
            ><span class="myprder">我的订单</span></router-link
          >
          <router-link :to="{ path: '/car' }"
            ><span class="buycar"
              ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i
              ><span>购物车</span></span
            ></router-link
          >
          <router-link :to="{ path: '/Login' }" v-if="!UserInfo.user_name">
            <span class="myprder">登录</span>
          </router-link>
          <router-link :to="{ path: '/Login' }" v-if="!UserInfo.user_name">
            <span class="myprder">注册</span>
          </router-link>
          <span>收藏夹</span>
          <router-link :to="{ path: '/mygoods' }">
            <span class="myprder">我的商品</span>
          </router-link>
        </div>
      </div>
    </div>
    <!-- logo+导航+搜索栏 -->
    <div class="logo">
      <div class="logo_con">
        <a class="logo_left" href="">
          <img src="../static/images/logo.jpg" alt="logo" />
        </a>
        <!-- 导航栏 -->
        <div class="con_middle">
          <router-link :to="{ path: '/' }"
            ><span class="nva">首页</span></router-link
          >
          <router-link :to="{ path: '/Goodlist' }"
            ><span class="nva">口袋商品</span></router-link
          >
          <router-link :to="{ path: '/Discount' }"
            ><span class="nva">毕业专区</span></router-link
          >
          <router-link :to="{ path: '/Publish' }"
            ><span class="nva">我有好物</span></router-link
          >
          <router-link :to="{ path: '/Contact' }"
            ><span class="nva">联系我们</span></router-link
          >
        </div>
        <div class="logo_right">
          <el-input
            class="maininput"
            v-model="search"
            placeholder="请输入内容"
          ></el-input>
          <el-button icon="el-icon-search" circle></el-button>
        </div>
      </div>
      <div class="logo_icon"></div>
    </div>
    <router-view />
    <Footer></Footer>
  </div>
</template>

<script>
import { User } from "@apis/index";
import Footer from "./components/Footer.vue";

import { createNamespacedHelpers } from "vuex";
const { mapState, mapMutations } = createNamespacedHelpers("System");

export default {
  name: "app",
  components: {
    Footer,
  },
  data() {
    return {
      search: "",
    };
  },
  computed: {
    ...mapState({
      UserInfo: (state) => state.UserInfo,
    }),
    // 筛选指定字段
    items: function () {
      let _search = this.search;
      let reg = new RegExp(_search, "ig"); // 不区分大小写
      if (_search) {
        return this.goods.filter(function (item) {
          if (
            item.id.toString().indexOf(_search) != -1 ||
            item.name.match(reg)
          ) {
            return item;
          }
        });
      }
      return this.goods;
    },
    // 筛选所有的字段
    itemss: function () {
      var _search = this.search;
      console.log(_search);
      if (_search) {
        // 不区分大小写处理
        var reg = new RegExp(_search, "ig");
        // es6 filter过滤匹配，有则返回当前，无则返回所有
        return this.goods.filter(function (e) {
          // 匹配所有字段
          return Object.keys(e).some(function (key) {
            return e[key].match(reg);
          });
          // 匹配某个字段
          // return e.name.match(reg);
        });
      }
      return this.goods;
    },
  },
  beforeCreate() {
    User.getUserInfo().then((res) => {
      if (res.data.code && res.data.code == 200) {
        this.UserInfoChange(res.data.user);
      }
    });
  },
  methods: {
    ...mapMutations(["UserInfoChange"]),
    // 登出
    logout() {
      User.logout().then((res) => {
        if (res.data.success) {
          this.$message.success(res.data.message);
          this.UserInfoChange({});
        } else {
          this.$message.error(res.data.message);
        }
      });
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*  color: #f2f2f2; */
}

#app .header {
  height: 35px;
  width: 100%;
}

#app .header .h_con {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #999;
  border: 1px solid red;
}

#app .header .con_left {
  float: left;
  line-height: 35px;
}
#app .header .con_left span {
  display: inline-block;
  margin-left: 15px;
}
#app .header .con_right {
  float: right;
  line-height: 35px;
}

#app .header .con_right a,
#app .header .con_right > span {
  display: inline-block;
  margin-right: 15px;
  line-height: 30px;
  color: #999;
}
#app .header .con_right .buycar i {
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
}

#app .logo {
  height: 60px;
  width: 100%;
  background: #fff;
  /* border-bottom:30px solid #f2f2f2; */
  margin-bottom: 30px;
  border-top: 2px solid #f2f2f2;
}
#app .logo .logo_con {
  width: 90%;
  height: 100%;
  margin: auto;
}

#app .logo .logo_con .logo_left {
  float: left;
  height: 100%;
}
#app .logo .logo_con .logo_left img {
  height: 3.75rem;
  display: block;
  overflow: hidden;
}
#app .logo .logo_con .logo_right {
  float: right;
  line-height: 3.75rem;
}
.logo_icon {
  height: 1.875rem;
  background-color: #f2f2f2;
}

#app .logo .logo_con .logo_right .el-input {
  float: left;
  /* border: 2px solid red; */
  width: 11rem;
  height: 2rem;
}
#app .logo .logo_con .logo_right .el-input__inner {
  width: 11rem;
  height: 2rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid #bfbcbe;
  float: left;
  margin-top: 0.9375rem;
}
.el-button {
  float: right;
  margin-left: 0.3125rem;
  display: inline-block;
  margin-top: 0.75rem;
}
/* 导航 */
#app .logo .logo_con .con_middle {
  height: 100%;
  margin-left: 8rem;
  float: left;
  border: 1px solid red;
}
.nva {
  text-align: center;
  margin: 1.25rem;
  line-height: 3.75rem;
  font-size: 0.875rem;
  font-weight: 800;
  color: black;
}
.nva:hover {
  text-align: center;
  margin: 1.25rem;
  line-height: 3.75rem;
  font-size: 0.875rem;
  font-weight: 800;
  color: #77b4dd;
}
.logout {
  cursor: pointer;
}
</style>
